tests/in/common/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/common"
           xmlns:tns="http://example.com/common"
           elementFormDefault="qualified">

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="Zip" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>